<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
     <script src="https://kit.fontawesome.com/eac08fde64.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
 <style>
    .about{
        margin-top: 10%;
    }
 </style> 
 
</head>
<body>
     <!-- ----------------HEADER---------------- -->
    <header class="header" id="header">
        <nav class="nav container">
<a href="#" class="nav__logo">
    WildLive
</a>
<div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="" class="nav__link active-link" >Home

            </a>
        </li>

        <li class="nav__item">
            <a href="/about" class="nav__link ">About
                
            </a>
        </li>

        <li class="nav__item">
            <a href="/preserve" class="nav__link ">Explore          
            </a>
        </li>

         <li class="nav__item">
            <a href="/donate" class="nav__link ">Donate
                
            </a>
        </li> 
        <a href="/login"> 
            <button  href="" class="btnLogin-popup"  >Login</button> </a>
                
            
        
    </ul>




     <!-- /*------------ Close Button ----------*/  -->
    <div class="nav__close" id="nav-close">
        <i class="ri-close-line"></i>
    </div>
</div>

<!----Toggle BUtton-->
 <div class="nav__toggle" id="nav-toggle">
    <i class="ri-menu-line"></i>
</div>
        </nav>
    </header> 


      <!-- --------------------MAIN--------------------------- -->
 <main class="main"> 
    <!-- -------------------------HOME--------------------------- -->
      <section class="home section" id="home">
        <img src="imgs/mainbg.jpg" alt="home img" class="home__bg">
        <div class="home__shadow"></div>
       <div class="home__container container grid">
        <div class="home__data">
            <h3 class="home__subtitle">
          
                Join the Quest to Safeguard Our Precious Wildlife and Preserve a Thriving Planet!
            </h3>
<h1 class="home__title">
    Unleash the Hero Within
</h1>
<p class="home__description">
</p>

<a href="/donate" class="button">
    Donate <i class="ri-hand-heart-line"></i>
</a>
        </div>

        <div class="home__cards grid">
            <article class="home__card">
                
                <img src="imgs/preserve.jpg" alt="" class="home__card-img">
                <a href="/preserve">
               <h3 class="home__card-title">
               Preserve.</h3></a>
               <div class="home__card-shadow"></div>

            </article>
            <article class="home__card">
                <img src="imgs/protect.jpg" alt="" class="home__card-img">
                <a href="/protect"></a>
               <h3 class="home__card-title"> Protect.</h3></a>
               <div class="home__card-shadow"></div>

            </article>
            <article class="home__card">
                <img src="imgs/restore.jpg" alt="" class="home__card-img">
                <a href="/restore">
               <h3 class="home__card-title"> Restore. </h3></a>
               <div class="home__card-shadow"></div>

            </article>
            <article class="home__card">
                <img src="imgs/thrive.jpg" alt="" class="home__card-img">
                <a href="/thrive">
               <h3 class="home__card-title">Thrive.</h3></a>
                <div class="home__card-shadow"></div> 

            </article>
        </div>
       </div>

    </section>  

     <!-- ABOUT-->
    

      <section class="about section" id="about">
<div class="about__container container grid">
    <div class="about__data">
        <h1 class="section__title">
            Preserve it<br>
            for the Future
        </h1>
        <p class="about__descripton">
           <b>At WILDLIVE we are dedicated to protecting and conserving the magnificent wildlife that inhabits our planet. With a team of passionate conservationists, scientists, and volunteers, we work tirelessly to ensure the survival  of endangered species and their habitats. </b>
        </p>
        <a href="/about" class="button" id="abtbtn">
            Explore More <i class="ri-arrow-right-line"></i>
        </a>
    </div>
    <div class="about__image">
        <img src="imgs/about.jpg" alt="about img" class="about__img">
        {{!-- <div class="about__shadow">  --}}

      
   
</div>

    </section>  

    <!-- ----------------------WHAT YOU CAN DO--------------------- -->
    <section class="popular section" id="project">
    <h2 class="section__title">
        How can you<br>
        help?
    </h2>
    <div class="popular__container container grid">
       <article class="popular__card">
            <div class="popular__image">
                <img src="imgs/how3.jpg" alt="popular img" class="popular__img" id="img1">
                <div class="popular__shadow"></div>
            </div>
            <a href="/donate" > 
         <h2 class="popular__title">
Pledge
            </h2></a>
            <div class="popular__location">
                <i class="ri-check-line"></i>
                <span> Sign Pledge Form</span>
            </div>
        </article>

        <article class="popular__card">
            <div class="popular__image">
                <img src="imgs/how-2.jpg" alt="popular img" class="popular__img" id="img2">
                <div class="popular__shadow"></div>
            </div>
         <a href="/donate">   <h2 class="popular__title">
Adopt
            </h2></a>
            <div class="popular__location">
                <i class="ri-check-line"></i>
                <span>Adopt an Animal</span>
            </div>
            
                         
        </article>

        <article class="popular__card">
            <div class="popular__image">
                <img src="imgs/how1.jpg" alt="popular img" class="popular__img" id="img3">
                <div class="popular__shadow"></div>
            </div>
            <a href="donate.html">
         <a href="/donate"><h2 class="popular__title">
Donate
            </h2>
        </a>
            <div class="popular__location">
                <i class="ri-check-line"></i>
                <span>Donate funds for future</span>
            </div> 
        </article></a>
    </div>
</section>  

   <!-- ------------------------JOIN-------------------- -->
    <section class="joinsection" id="explore">
    <div class="join__container container grid">
        <div class="join__data">
            <h2 class="section__title">
                Join the<br>
                Revolution
            </h2>

            <p class="join__description">
                Get up to date latest information 
                about wildlife from us.
            </p>

            <form action="" class="join__form" id="explore" onsubmit="sendEmail(); reset(); return false">
                <input type="email" id="email" placeholder="Enter your Email" class="join__input">

                <button class="join__button button" id="btn">
                    Subscribe our Newsletter<i class="ri-arrow-right-line"></i>
                </button>
            </form>
        </div>
        <div class="join__image">
            <img src="imgs/joinus.jpg" alt="" class="join__img">
            <div class="join__shadow"></div>
        </div>
    </div>
   </section> 


   <!-- --------------------FOOTER---------------------- -->
   <footer class="footer">
    <div class="footer__container container grid">
        <div class="footer__content grid">
            <div>
                <a href="#" class="footer__logo">WildLive</a>
                <p class="footer__description">
                   <h4> WILDLIVE<BR></h4>
                        Join us on the frontlines of conservation by becoming a volunteer.
                </p>
            </div>
                <div class="footer__data grid">
                    <div>
                        <h3 class="footer__title">About</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">About us </a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">News & Blogs</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Features</a>
                            </li>
                        </ul>
                    </div>
                

                <div>
                    <h3 class="footer__title">Company</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">FAQ's</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">History</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Testimonials</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Contact</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Call center</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Support Center</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Contact us</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Support</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link">Terms & Services</a>
                        </li>

                        <li>
                            <a href="#" class="footer__link"> Payments</a>
                        </li>
                    </ul>
                </div>
            
            
            </div>
            <div class="footer__group">
<div class="footer__social">
    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
        <i class="ri-facebook-fill"></i>
    </a>

    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
        <i class="ri-instagram-fill"></i>
    </a>

    <a href="https://www.twitter.com/" target="_blank" class="footer__social-link">
        <i class="ri-twitter-fill"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank" class="footer__social-link">
        <i class="ri-youtube-fill"></i>
    </a>

</div>

<span class="footer__copy">
    &#169; Copyright WildLive. All rights reserved
</span>

            </div>
            </div>
        </div>
    </div>
    
    
   </footer> 

   <!-- ---------------Scroll up------------- -->

    <a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
   </a>

</main> 
<script src="https://smtpjs.com/v3/smtp.js"></script>


<!-- --------------------------PLACE TO STORE EMAIL----------------------------------------- -->
<script>

    var btn =document.getElementById('btn');
    btn.addEventListener('click', function(e){
        e.preventDefault()
        var email = document.getElementById('email').value;
        console.log('hi');
        
        // SecureToken:  "654046a7-16dc-4f48-b3c8-eff1e7784e21",
        Email.send({
    Host : "smtp.elasticemail.com",
    Username : "techbae54@gmail.com",
    Password : "6F24D4A42880B13D85C29785A749415B5698",
    To : 'techbae54@gmail.com',
    From :  "techbae54@gmail.com",
    Subject : "New subscriber",
    Body : "Email: " +document.getElementById("email").value
}).then(
  message => alert(message)
);
    })
   
    
</script>
</body>

<!-- -------------------SCROLL REVEAL--------------- -->

<script src="scrollreveal.min.js"></script>











    <script>
        /*=============== SHOW MENU ===============*/
const navMenu = document.getElementById('nav-menu'),
      navToggle = document.getElementById('nav-toggle'),
      navClose = document.getElementById('nav-close')

/*===== MENU SHOW =====*/
/* Validate if constant exists */
if(navToggle){
    navToggle.addEventListener('click', () =>{
        navMenu.classList.add('show-menu')
    })
}

/*===== MENU HIDDEN =====*/
/* Validate if constant exists */
if(navClose){
    navClose.addEventListener('click', () =>{
        navMenu.classList.remove('show-menu')
    })
}
/*=============== REMOVE MENU MOBILE ===============*/
const navLink = document.querySelectorAll('.nav__link')

const linkAction = () =>{
    const navMenu = document.getElementById('nav-menu')
    // When we click on each nav__link, we remove the show-menu class
    navMenu.classList.remove('show-menu')
}
navLink.forEach(n => n.addEventListener('click', linkAction))


/*=============== CHANGE BACKGROUND HEADER ===============*/
const blurHeader = () =>{
    const header = document.getElementById('header')
    // When the scroll is greater than 50 viewport height, add the blur-header class to the header tag
    this.scrollY >= 50 ? header.classList.add('blur-header') 
                       : header.classList.remove('blur-header')
}
window.addEventListener('scroll', blurHeader)

/*=============== SHOW SCROLL UP ===============*/ 
const scrollUp = () =>{
	const scrollUp = document.getElementById('scroll-up')
    // When the scroll is higher than 350 viewport height, add the show-scroll class to the a tag with the scrollup class
	this.scrollY >= 350 ? scrollUp.classList.add('show-scroll')
						: scrollUp.classList.remove('show-scroll')
}
window.addEventListener('scroll', scrollUp)


/*=============== SCROLL SECTIONS ACTIVE LINK ===============*/
// const sections = document.querySelectorAll('section[id]')
    
// const scrollActive = () =>{
//   	const scrollY = window.pageYOffset

// 	sections.forEach(current =>{
// 		const sectionHeight = current.offsetHeight,
// 			  sectionTop = current.offsetTop - 58,
// 			  sectionId = current.getAttribute('id'),
// 			  sectionsClass = document.querySelector('.nav__menu a[href*=' + sectionId + ']')

// 		if(scrollY > sectionTop && scrollY <= sectionTop + sectionHeight){
// 			sectionsClass.classList.add('active-link')
// 		}else{
// 			sectionsClass.classList.remove('active-link')
// 		}                                                    
// 	})
// }
// window.addEventListener('scroll', scrollActive)


// -----------------------------SCROLL REVEAL ANI---------------------------
const sr = ScrollReveal({
    origin:'top',
    distance:'60px',
    duration: 3000,
    delay: 400,
  //  reset: true // ani repeat

})

sr.reveal('.home__data, .footer__container, .log')

sr.reveal('.home__card', {delay: 600, distance: '100px', interval: 100})
sr.reveal('.about__data', {origin: 'right'})
sr.reveal('.about__image , .join__data', {origin: 'left'})
sr.reveal('.popular__card', {interval: 200})



// ----------------------------LOGIN SIGNUP--------------------------

// const formOpenBtn= document.querySelector("#form-open"),
// log= document.querySelector("#log"),
// formLog= document.querySelector(".form__log"),
// formCloseBtn= document.querySelector(".form__close"),
// signupBtn= document.querySelector("#signup"),
// loginBtn=document.querySelector("#login"),
// pwShowHide=document.querySelectorAll(".pw_hide");


// formOpenBtn.addEventListener("click", () => log.classList.add("show"))
// formCloseBtn.addEventListener("click", () => log.classList.remove("show"))



    </script>

</body>
</html>